---
import Copy from "../../components/Copy.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
	<section class="pt-[100px] pb-8 px-4">
		<div class="max-w-[400px] mx-auto">
				<div class="relative w-fit mx-auto">
					<img src="/images/hello-emoji.webp" class="--hello absolute bottom-0 left-0 bg-white border border-black/20 rounded-full size-[40px] p-2 flex items-center justify-center text-[20px]" />
					<img 
						class="size-[100px] border-3 border-black/20 rounded-full mx-auto bg-gray-300"
						src="/images/tomas-costa-paginas-web.webp" 
						alt="Tomas Costa ~ Paginas Web Personalizadas"
					>
				</div>
				<div class="mt-12 relative">
					<!-- Particulas -->
					<div class="size-[10px] rounded-full bgPurple absolute -top-[60px] right-[40px] --move-down"></div>
					<div class="triangle --purple -rotate-15 absolute left-[20px] md:-left-[100px] top-[100px] --move-up"></div>
					<div class="triangle --yellow rotate-15 absolute right-[40px] bottom-[120px] --move-up"></div>
					<!-- Fin Particulas -->
					<h1 class="text-center text-[32px] font-extrabold text-[#424242] leading-[110%] mb-4">
						¡Gracias por contactarte!
					</h1>
					<p class="text-center text-[18px] font-normal max-w-[300px] mx-auto text-[#111]/80 leading-[110%]">
						Pronto te voy a enviar un mensaje por Whatsapp para saber más sobre tu proyecto
					</p>
					<a class="mt-8 bg-[#FF6900] mx-auto size-[50px] rounded-full flex items-center justify-center text-white" href="https://www.instagram.com/tomascostalp/">
						<svg class="size-6" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/></svg>
					</a>
				</div>
			</div>
	</section>
	<Copy />
	<p class="text-center text-[14px] text-[#111]/40 px-4 pb-8">
		© Tomás Costa Páginas Web 2025. Todos los derechos reservados.
	</p>
<Layout />