---
const { id, customClass, onclick } = Astro.props;
---

<div class=`${customClass}`>
  <button
    aria-label="Close"
    id={id ? id : null}
    onclick={onclick ? onclick : null}
    class="w-10 h-10 rounded-full border border-neutral-300 relative shadow"
  >
    <span
      class="w-5 h-[1px] top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 bg-neutral-200 rounded-full block rotate-45 absolute"
    ></span>
    <span
      class="w-5 h-[1px] top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 bg-neutral-200 rounded-full block -rotate-45 absolute"
    ></span>
  </button>
</div>
