@import "tailwindcss";

.tcp-container {
	@apply max-w-[1040px] mx-auto px-4;
}

.textPurple {
	@apply text-[#4F39F6];
}

.bgPurple {
	@apply bg-[#4F39F6];
}

body {
	font-family: 'Inter Variable', sans-serif;
}

.--playfair {
	font-family: 'Playfair Display Variable', serif;
}

.tcp-btn {
	@apply bg-[#FF6900] flex flex-col gap-0 h-min items-center justify-center px-6 py-4 font-bold md:w-fit rounded-full text-center text-white text-[18px] sticky bottom-6 z-50;
/* 
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	position: sticky; */
}
.tcp-btn.--no-span {
	@apply py-6 text-[16px];
}

section {
	position: relative;
}

/* Animacion contenedor del boton */
.tcp-btn::before {
	content: '';
	display: block;
	position: absolute;
	max-height: 45px;
	max-width: 45px;
	height: 100%;
	width: 100%;
	z-index: 90;
	background-color: #FF6900;
	border-radius: 200px;
	animation: btnBeforeAnimation ease-in-out both;
	animation-timeline: view();
	animation-range: entry-crossing 10% cover 30%;
}
@keyframes btnBeforeAnimation {
	0% {
		transform: scale(1) translateY(20px);
		border: 0 solid white;
	}
	10% {
		transform: translateY(50px);
		border: 0 solid white;
		border: 8px solid #FFFFFFDD;
		max-height: 65px;
		max-width: 65px;
	}
	20% {
		transform: translateY(-20px);
	}
	50% {
	}
	70% {
		max-height: 45px;
		max-width: 45px;
	}
	99% {
		max-width: 100%;
		max-height: 100%;
		opacity: 100%;
	}
	100% {
		opacity: 0;
	}
}


.tcp-btn {
	pointer-events: none;
	animation: btnAnimation ease-in-out both;
	animation-timeline: view();
	animation-range: entry 10% cover 30%;
}
@keyframes btnAnimation {
	0% {
		background-color: transparent;
		color: transparent;
		pointer-events: none;
	}
	99% {
		background-color: transparent;
		color: transparent;
		pointer-events: none;
	}
	100% {
		opacity: 100;
		pointer-events: auto;
	}
}



h1, h2, h3 {
	letter-spacing: -0.5px;
}

/* Particulas */
.triangle {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;

	border-bottom: 18px solid #B100C0;
}

.triangle.--yellow {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;

	border-bottom: 18px solid #FFB200;
}

.--move-down {
	animation: moveDown ease-in both;
	animation-timeline: view();
	animation-range: entry 20% cover 70%;
}

@keyframes moveDown {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(40px);
	}
}

.--move-up {
	animation: moveUp ease-in both;
	animation-timeline: view();
	animation-range: entry 10% cover 180%;
}

.--move-up.--2 {
	animation-range: entry 10% cover 300%;
}

@keyframes moveUp {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-100px);
	}
}

.--move-rotate {
	animation: moveRotate ease-in both;
	animation-timeline: view();
	animation-range: entry 10% cover 100%;
}

@keyframes moveRotate {
	to {
		rotate: -10deg;
	}
}

.appearFromBottom {
	animation: appearFromBottom ease-in both;
	animation-timeline: view();
	animation-range: entry 10% cover 60%;
	transform: translateY(20px) scale(.8);
}

@keyframes appearFromBottom {
	to {
		transform: translateY(0) scale(1);
	}
}

.--fade-up {
	animation: fadeUp ease-in both;
	animation-timeline: view();
	animation-range: entry 10% cover 40%;
	transform: translateY(40px) scale(.8);
	opacity: 0;
}

@keyframes fadeUp {
	to {
		transform: translateY(0) scale(1);
		opacity: 100%;
	}
}

.--hello {
	animation: saludo 2s ease-in-out infinite;
	animation-delay: 1s;
}

@keyframes saludo {

	0%,
	100% {
		transform: rotate(0deg);
	}

	20% {
		transform: rotate(20deg);
	}

	40% {
		transform: rotate(-15deg);
	}

	60% {
		transform: rotate(10deg);
	}

	80% {
		transform: rotate(-5deg);
	}
}

.--temblor {
	display: inline-block;
	animation: temblorSuave 5s ease-in-out infinite;
}

@keyframes temblorSuave {
	0% {
		transform: translateX(0);
	}

	2% {
		transform: translateX(-2px);
	}

	4% {
		transform: translateX(2px);
	}

	6% {
		transform: translateX(-1px);
	}

	8% {
		transform: translateX(1px);
	}

	10% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(0);
	}

	/* quieto hasta que vuelva a empezar */
}


.--slide-r {
	animation: slideR ease-in-out;
	animation-timeline: view();
	animation-range: entry 10% cover 150%;
	transform: translateX(-200px);
}

@keyframes slideR {
	to {
		transform: translateX(0);
	}
}

.--slide-l {
	animation: slideL ease-in-out;
	animation-timeline: view();
	animation-range: entry 10% cover 150%;
	transform: translateX(0);
}

@keyframes slideL {
	to {
		transform: translateX(-200px);
	}
}

/* Carrusel testimonios */
@media (max-width: 500px) {

	.swiper-slide-next,
	.swiper-slide-prev {
		scale: 95%;
		transition: all .5s;
	}

	.swiper-slide {
		transition: all .5s !important;
	}
}

.border-t.border-dashed,
.border-b.border-dashed {
	border-style: solid; /* cambiamos a solid para que border-image funcione bien */
	border-color: transparent;
	border-image: repeating-linear-gradient(
	  to right,
	  #1e1e1eaa 0 1px,       /* tramo negro largo (4px) */
	  transparent 1px 2.5px /* espacio corto (10px) */
	) 100 stretch;
}
.border-b.border-dashed {
	border-bottom-width: 1px;
}
.border-t.border-dashed {
	border-top-width: 1px;
}

.testimonios-pagination {
	bottom: unset !important;
	top: -40px !important;
}
.swiper-pagination-bullet {
	border: 1px solid #4F39F6 !important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: #4F39F6 !important;
}