---
import LandingBuildersLabLayout from "../../layouts/LandingBuildersLabLayout.astro";
---

<LandingBuildersLabLayout>
	<section class="pt-[30px] pb-[100px]">
		<div class="max-w-[1040px] mx-auto px-4">
			<img class="mx-auto w-[160px] h-auto" src="/images/landingbuilderslab/landing-builders-lab-logo.png" alt="Landing Builders Lab 2025">
			<div class="flex flex-col md:flex-row gap-8 pt-[60px]">
				<div>
					<div class="flex items-center gap-4 mb-4">
						<div class="flex">
							<img class="rounded-full border border-[#111]/30" src="/images/landingbuilderslab/landing-builders-lab-tomas-costa.webp" alt="Landing Builders Lab Tomas Costa">
							<img class="rounded-full border border-[#111]/30 -ms-4" src="/images/landingbuilderslab/landing-builders-lab-tomas-costa.webp" alt="Landing Builders Lab Tomas Costa">
						</div>
						<p class="text-[14px] text-[#111]/80">+100 Sitios creados y vendidos en el ultimo tiempo</p>
					</div>
					<h1 class="font-bold text-[32px] md:text-[42px] text-[#111] max-w-[600px] leading-[110%]">
						<span class="text-[#BCC9D2]">Copiá y pegá nuestro sistema para</span> Empezar como Landing Builder
					</h1>
					<p class="max-w-[350px] text-[18px] text-[#111] mt-4">(sin experiencia, sin esperar meses y sin regalar tu trabajo).</p>
					<div class="flex gap-4 mt-8">
						<!-- <a class="lb-btn --secondary" href="#!">¿Cómo Funciona?</a> -->
						<a class="lb-btn" href="#!">¿Cómo Funciona?</a>
					</div>
				</div>
				<div>
					<img class="mx-0 md:h-[400px]" src="/images/landingbuilderslab/landing-builders-lab-hero.png" alt="Landing Builders Lab">
				</div>
			</div>
		</div>
	</section>
</LandingBuildersLabLayout>