---
import LandingBuildersLabLayout from "../../layouts/LandingBuildersLabLayout.astro";
---

<LandingBuildersLabLayout>
	<section class="pt-[30px] pb-[60px] md:pb-[80px]">
		<div class="max-w-[1040px] mx-auto px-4">
			<img class="mx-auto w-[160px] h-auto" src="/images/landingbuilderslab/landing-builders-lab-logo.png" alt="Landing Builders Lab 2025">
			<div class="flex flex-col md:flex-row gap-8 pt-[60px]">
				<div>
					<div class="flex items-center gap-4 mb-4">
						<div class="flex gap-4 md:gap-2">
							<img class="size-[46px] rounded-full border border-[#111]/30" src="/images/landingbuilderslab/landing-builders-lab-tomas-costa.webp" alt="Landing Builders Lab Tomas Costa">
							<img class="size-[46px] rounded-full border border-[#111]/30 -ms-4" src="/images/landingbuilderslab/landing-builders-lab-sebastian-lazo.webp" alt="Landing Builders Lab Tomas Costa">
						</div>
						<p class="text-[14px] text-[#111]/80">+100 Sitios creados y vendidos en el ultimo tiempo</p>
					</div>
					<h1 class="font-bold text-[32px] md:text-[42px] text-[#111] max-w-[600px] leading-[110%]">
						<span class="text-[#BCC9D2]">Copiá y pegá nuestro sistema para</span> Empezar como Landing Builder
					</h1>
					<p class="max-w-[350px] text-[18px] text-[#111] mt-4">(sin experiencia, sin esperar meses y sin regalar tu trabajo).</p>
					<div class="flex gap-4 mt-8">
						<!-- <a class="lb-btn --secondary" href="#!">¿Cómo Funciona?</a> -->
						<a class="lb-btn" href="#!">¿Cómo Funciona?</a>
					</div>
				</div>
				<div>
					<img class="mx-0 md:h-[400px]" src="/images/landingbuilderslab/landing-builders-lab-hero.png" alt="Landing Builders Lab">
				</div>
			</div>
		</div>
	</section>
	<section class="pb-[80px]">
		<div class="tcp-container">
			<div class="bg-[#111] p-12 rounded-[20px] max-w-[900px] mx-auto">
				<h3 class="text-[24px] text-white font-semibold leading-[115%]">
					¿Horas y horas de cursos… y aún así ni idea de cómo conseguir clientes que paguen bien, qué servicio ofrecer o cuánto cobrar?
				</h3>
				<p class="text-white/80 mt-4 leading-[120%]">
					¿Te pasó? A nosotros también.
					<br><br>
					<strong>Hasta que encontramos una oportunidad que parecía demasiado simple para ser real.</strong>
					<br><br>
					Solo se trataba de ofrecer el servicio correcto, a las personas correctas, de la forma correcta.
					<br><br>
					Lo probamos. Funcionó. Y ahora preparamos una guía práctica y directa para que vos también <strong>puedas generar ingresos como programador freelance, aunque recién estés empezando</strong>.
					<br><br>
					Este no es un curso tradicional de programación. Es una forma real de empezar.
				</p>
			</div>
		</div>
	</section>
	<section class="pb-[80px]">
		<div class="tcp-container">
			<h2 class="text-center font-bold text-[26px] max-w-[850px] mx-auto leadinig-[105%] mb-8">
				La guía se basa en tres elementos clave: una habilidad simple y valiosa, gente que la necesita, y un camino claro para ofrecerla.
			</h2>
			<div class="grid md:grid-cols-3 gap-8">
				<div class="border border-[#111]/30 p-8">
					<h3 class="font-semibold text-[20px]">Una habilidad simple y con Demanda Real</h3>
					<p>
						Aprendés a construir Landing Pages que venden.
						Nada de webs gigantes ni proyectos eternos. Solo lo que coaches y emprendedores necesitan para captar clientes: una página directa, persuasiva y bien hecha.
						Es rápido de aprender, fácil de ofrecer y tiene valor en el mercado.
					</p>
				</div>
				<div class="border border-[#111]/30 p-8">
					<h3 class="font-semibold text-[20px]">Una habilidad simple y con Demanda Real</h3>
					<p>
						Aprendés a construir Landing Pages que venden.
						Nada de webs gigantes ni proyectos eternos. Solo lo que coaches y emprendedores necesitan para captar clientes: una página directa, persuasiva y bien hecha.
						Es rápido de aprender, fácil de ofrecer y tiene valor en el mercado.
					</p>
				</div>
				<div class="border border-[#111]/30 p-8">
					<h3 class="font-semibold text-[20px]">Una habilidad simple y con Demanda Real</h3>
					<p>
						Aprendés a construir Landing Pages que venden.
						Nada de webs gigantes ni proyectos eternos. Solo lo que coaches y emprendedores necesitan para captar clientes: una página directa, persuasiva y bien hecha.
						Es rápido de aprender, fácil de ofrecer y tiene valor en el mercado.
					</p>
				</div>
			</div>
			<a class="lb-btn mx-auto mt-8" href="#!">¡Quiero empezar ahora!</a>
		</div>
	</section>
</LandingBuildersLabLayout>