---
import LandingBuildersLabLayout from "../../layouts/LandingBuildersLabLayout.astro";
---

<LandingBuildersLabLayout>
	<section class="pt-[30px] pb-[60px] md:pb-[80px]">
		<div class="max-w-[1040px] mx-auto px-4">
			<img
				class="mx-auto w-[160px] h-auto"
				src="/images/landingbuilderslab/landing-builders-lab-logo.png"
				alt="Landing Builders Lab 2025"
			/>
			<div class="flex flex-col md:flex-row gap-8 pt-[60px]">
				<div>
					<div class="flex items-center gap-4 mb-4">
						<div class="flex">
							<img
								class="size-[46px] rounded-full border border-[#111]/30"
								src="/images/landingbuilderslab/landing-builders-lab-tomas-costa.webp"
								alt="Landing Builders Lab Tomas Costa"
							/>
							<img
								class="size-[46px] rounded-full border border-[#111]/30 -ms-4"
								src="/images/landingbuilderslab/landing-builders-lab-sebastian-lazo.webp"
								alt="Landing Builders Lab Tomas Costa"
							/>
						</div>
						<p class="text-[14px] text-[#111]/80">
							+100 Sitios creados y vendidos en el ultimo tiempo
						</p>
					</div>
					<h1
						class="font-bold text-[32px] md:text-[42px] text-[#111] max-w-[600px] leading-[110%]"
					>
						<span class="text-[#BCC9D2]"
							>Copiá y pegá nuestro sistema para</span
						> Empezar como Landing Builder
					</h1>
					<p class="max-w-[350px] text-[18px] text-[#111] mt-4">
						(sin experiencia, sin esperar meses y sin regalar tu
						trabajo).
					</p>
					<div class="flex gap-4 mt-8">
						<!-- <a class="lb-btn --secondary" href="#!">¿Cómo Funciona?</a> -->
						<a class="lb-btn" href="#!">¿Cómo Funciona?</a>
					</div>
				</div>
				<div>
					<img
						class="mx-0 md:h-[400px]"
						src="/images/landingbuilderslab/landing-builders-lab-hero.png"
						alt="Landing Builders Lab"
					/>
				</div>
			</div>
		</div>
	</section>
	<section class="pb-[80px]">
		<div class="tcp-container">
			<div class="bg-[#111] px-4 py-12 md:p-12 rounded-[20px] max-w-[900px] mx-auto">
				<h3 class="text-[24px] text-white font-semibold leading-[115%]">
					¿Horas y horas de cursos… y aún así ni idea de cómo
					conseguir clientes que paguen bien, qué servicio ofrecer o
					cuánto cobrar?
				</h3>
				<p class="text-white/80 mt-4 leading-[120%]">
					¿Te pasó? A nosotros también.
					<br /><br />
					<strong
						>Hasta que encontramos una oportunidad que parecía
						demasiado simple para ser real.</strong
					>
					<br /><br />
					Solo se trataba de ofrecer el servicio correcto, a las personas
					correctas, de la forma correcta.
					<br /><br />
					Lo probamos. Funcionó. Y ahora preparamos una guía práctica y
					directa para que vos también <strong
						>puedas generar ingresos como landing builder
						aunque recién estés empezando</strong
					>.
					<br /><br />
					Este no es un curso tradicional de programación. Es <span
						class="underline">una forma real de empezar</span
					>.
				</p>
				<a class="lb-btn mx-auto mt-8" href="#!">
					¡Quiero la guía!
					<span
						class="text-[#111]/80 text-[14px] block mt-2 font-semibold"
						>Solo usd $27 por tiempo limitado</span
					>
				</a>
			</div>
		</div>
	</section>
	<section class="pb-[80px]">
		<div class="tcp-container">
			<h2
				class="text-center font-bold text-[26px] max-w-[850px] mx-auto leadinig-[105%] mb-8"
			>
				La guía se basa en tres elementos clave: <span
					class="text-[#BCC9D2]"
					>una habilidad simple y valiosa, gente que la necesita, y un
					camino claro para ofrecerla.</span
				>
			</h2>
			<div class="grid md:grid-cols-3 gap-4">
				<div class="border border-[#111]/30 p-8">
					<h3 class="font-semibold text-[20px]">
						Una habilidad simple y con Demanda Real
					</h3>
					<p>
						Aprendés a construir Landing Pages que venden. Nada de
						webs gigantes ni proyectos eternos. Solo lo que coaches
						y emprendedores necesitan para captar clientes: una
						página directa, persuasiva y bien hecha. Es rápido de
						aprender, fácil de ofrecer y tiene valor en el mercado.
					</p>
				</div>
				<div class="border border-[#111]/30 p-8">
					<h3 class="font-semibold text-[20px]">
						Una habilidad simple y con Demanda Real
					</h3>
					<p>
						Aprendés a construir Landing Pages que venden. Nada de
						webs gigantes ni proyectos eternos. Solo lo que coaches
						y emprendedores necesitan para captar clientes: una
						página directa, persuasiva y bien hecha. Es rápido de
						aprender, fácil de ofrecer y tiene valor en el mercado.
					</p>
				</div>
				<div class="border border-[#111]/30 p-8">
					<h3 class="font-semibold text-[20px]">
						Una habilidad simple y con Demanda Real
					</h3>
					<p>
						Aprendés a construir Landing Pages que venden. Nada de
						webs gigantes ni proyectos eternos. Solo lo que coaches
						y emprendedores necesitan para captar clientes: una
						página directa, persuasiva y bien hecha. Es rápido de
						aprender, fácil de ofrecer y tiene valor en el mercado.
					</p>
				</div>
			</div>
			<a class="lb-btn mx-auto mt-8" href="#!">
				¡Quiero la guía!
				<span
					class="text-[#111]/80 text-[14px] block mt-2 font-semibold"
					>Solo usd $27 por tiempo limitado</span
				>
			</a>
		</div>
	</section>
	<section class="bg-[#111] rounded-[20px] py-[80px]">
		<div class="max-w-[900px] mx-auto px-4">
			<h4 class="text-[24px] font-semibold text-white text-center">
				PERO... ¿Quienes somos?
			</h4>
			<div class="mt-12 grid md:grid-cols-2 gap-8">
				<div>
					<div class="flex items-center gap-4">
						<div class="flex">
							<img
								class="size-[46px] rounded-full border border-[#111]/30"
								src="/images/landingbuilderslab/landing-builders-lab-tomas-costa.webp"
								alt="Landing Builders Lab Tomas Costa"
							/>
							<img
								class="size-[46px] bg-gray-200 rounded-full border border-[#111]/30 -ms-4"
								src="/images/landingbuilderslab/landing-builders-lab-sebastian-lazo.webp"
								alt="Landing Builders Lab Tomas Costa"
							/>
						</div>
						<span class="text-white">Somos Tomi y Seba</span>
					</div>
					<h3 class="mt-4 text-[24px] font-bold text-white">
						Dos Desarrolladores Web que quisieron crear Airbnb2.0 en
						un fin de semana...
					</h3>
					<p class="my-4 text-[24px] font-bold text-white">
						Obviamente no lo logramos
					</p>
					<p class="text-white text-[18px]">
						Pero nos fuimos con algo mejor… Nos conocimos hace 4
						años en un hackatón y desde ahí no paramos de crecer.
					</p>
					<div class="flex gap-4 my-8">
						<img
							class="size-[46px] bg-gray-200 rounded-full border border-[#111]/30"
							src="/images/landingbuilderslab/landing-builders-lab-sebastian-lazo.webp"
							alt="Landing Builders Lab Tomas Costa"
						/>
						<p class="text-white">
							Seba tiene una agencia de marketing con más de 30
							clientes en 7 países distintos.
						</p>
					</div>
					<div class="flex gap-4 my-8">
						<img
							class="size-[46px] bg-gray-200 rounded-full border border-[#111]/30"
							src="/images/landingbuilderslab/landing-builders-lab-tomas-costa.webp"
							alt="Landing Builders Lab Tomas Costa"
						/>
						<p class="text-white">
							Yo (Tomi) ayudo a emprendedores y negocios online a
							vender más con páginas de aterrizaje high ticket.
						</p>
					</div>
				</div>
				<img
					class="h-[270px] w-full object-cover object-bottom md:h-auto -order-1 md:order-none"
					src="/images/landingbuilderslab/landing-builders-lab-founders.webp"
					alt=""
				/>
			</div>
			<p class="text-white">
				Basicamente, te entendemos porque <strong
					>estuvimos en tu lugar</strong
				>.
				<br /><br />
				Ya <strong
					>hiciste cursos, sabés diseñar y programar páginas</strong
				>…
				<br /><br />
				Pero <strong
					>no sabés cómo conseguir clientes que paguen por eso</strong
				>.
				<br /><br />
				<strong>Nosotros estuvimos ahí</strong>. Por eso creamos esta
				guía.
				<br /><br />
				Para que empieces a vender tus servicios <span class="underline"
					>aunque no seas influencer, tengas marca personal ni seas un
					experto en marketing</span
				>.
			</p>
			<a class="lb-btn mx-auto mt-8" href="#!">
				¡Quiero la guía!
				<span
					class="text-[#111]/80 text-[14px] block mt-2 font-semibold"
					>Solo usd $27 por tiempo limitado</span
				>
			</a>
		</div>
	</section>
	<section class="py-[80px]">
		<div class="max-w-[900px] mx-auto px-4">
			<div>
				<h3 class="mb-4 text-[24px] font-bold text-[#111]">
					Esta guía es para:
				</h3>
				<ul>
					<li class="mb-2">
						✅ Personas con conocimiento basico o avanzado sobre programación: HTML y JS basico
					</li>
					<li class="mb-2">
						✅ Personas que quieren generar ingresos extra o conseguir una fuente de ingresos principal
					</li>
					<li>...</li>
				</ul>
			</div>
			<div class="mt-8">
				<h3 class="mb-4 text-[24px] font-bold text-[#111]">
					Esta guía NO es para:
				</h3>
				<ul>
					<li class="mb-2">
						❌ Personas sin ningun tipo de conocimiento sobre programación
					</li>
					<li class="mb-2">
						❌ Personas que quieren no puedan dedicarle tiempo a conseguir los primeros clientes
					</li>
					<li>...</li>
				</ul>
			</div>
			<a class="lb-btn mx-auto mt-8" href="#!">
				¡Quiero la guía!
				<span
					class="text-[#111]/80 text-[14px] block mt-2 font-semibold"
					>Solo usd $27 por tiempo limitado</span
				>
			</a>
		</div>
	</section>

	<section class="pt-[40px] pb-[80px]">
		<div class="max-w-[550px] mx-auto px-4">
			<h2 class="text-center max-w-[400px] mx-auto font-bold leading-[110%] text-[32px] mb-8">¿Qué incluye la Guía Landing Builder?</h2>
			<ul class="text-[18px] text-[#111]">
				<li class="py-2">✅ Guía teorica sobre diseño para que tu webs no solo sean lindas sino que también sean funcionales y generen ventas.</li>
				<li class="py-2">✅ Clase grabada paso por paso sobre Cómo diseñar una buena Landing Page VSL.</li>
				<li class="py-2">✅ Clase grabada paso por paso sobre Cómo programar una buena Landing Page VSL. (Extra GRATIS como automatizar formulario para Opt-In que lleve datos a un Google Sheets)</li>
				<li class="py-2">✅ El mensaje de instagram gracias al cual he vendido más de 50 Landings en los últimos meses y me hizo pasar de cobrar menos de 4 usd / hora, a +15 usd / hora.</li>
				<li class="py-2">✅ Guía de cómo armar una propuesta irresistible para que al Lead no le importe el precio.</li>
				<li class="py-2">✅ 37 Tips y consejos que me habría gustado recibir cuando estaba empezando y que me habrían ahorrado varios dolores de cabeza.</li>
				<li class="py-2">✅ Cómo escribir textos que convierten.</li>
				<li class="py-2">✅ Video analizando una landing (caso real), para que sepas cómo enviar propuestas de rediseño a potenciales clientes.</li>
				<li class="py-2">✅ Hack secreto para no tener que pagar Hosting.</li>
				<li class="py-2">✅ Excel de administración para que no te vuelvas loco como nosotros los primeros años.</li>
			</ul>
			<a class="lb-btn mx-auto mt-8" href="#!">
				¡Quiero la guía!
				<span
					class="text-[#111]/80 text-[14px] block mt-2 font-semibold"
					>Solo usd $27 por tiempo limitado</span
				>
			</a>
		</div>
	</section>
</LandingBuildersLabLayout>
