---
import Hero from '../../components/Hero.astro';
import Testimonios from '../../components/Testimonios.astro';
import Copy from '../../components/Copy.astro';
import Webs from '../../components/Webs.astro';
import Layout from '../../layouts/Layout.astro';
import Plans from '../../components/Plans.astro';
---

<Layout>
	<Hero />
	<Testimonios />
	<Copy />
	<Webs />
	<Plans />
	<p class="text-center text-[14px] text-[#111]/60 px-4">© Tomás Costa Páginas Web 2025. Todos los derechos reservados.</p>
</Layout>
