---
import Hero from "../components/Hero.astro";
import Testimonios from "../components/Testimonios.astro";
import Copy from "../components/Copy.astro";
import Webs from "../components/Webs.astro";
import Layout from "../layouts/Layout.astro";
import Plans from "../components/Plans.astro";
import Popup from "../components/Popup.astro";
import Beneficios from "../components/Beneficios.astro";
---

<Layout>
	<div class="md:hidden">
		<Hero />
		<Testimonios />
		<!-- <Copy /> -->
		<Beneficios />
		<Webs />
		<Plans />
		<p class="text-center text-[14px] text-[#111]/40 px-4 pb-8">
			© Tomás Costa Páginas Web 2025. Todos los derechos reservados.
		</p>
	</div>

	<!-- Popup con Form -->
	<Popup />

	<!-- Desktop en desarrollo -->
	<div class="hidden md:block">
		<div class="max-w-[700px] mx-auto py-[100px]">
			<div class="relative w-fit mx-auto">
				<img src="/images/hello-emoji.webp" class="--hello absolute bottom-0 left-0 bg-white border border-black/20 rounded-full size-[40px] p-2 flex items-center justify-center text-[20px]" />
				<img 
					class="size-[100px] border-3 border-black/20 rounded-full mx-auto bg-gray-300"
					src="/images/tomas-costa-paginas-web.webp" 
					alt="Tomas Costa ~ Paginas Web Personalizadas"
				>
			</div>
			<div class="mt-12 relative">
				<h1 class="text-center max-w-[500px] mx-auto text-[32px] font-extrabold text-[#424242] leading-[110%] mb-4">
					Hacemos las mejores páginas web para negocios online
				</h1>
				<p class="text-center text-[18px] font-normal max-w-[300px] mx-auto text-[#111]/80 leading-[110%]">
					Tu sitio web dice mucho de vos... Hagamos que <strong>Hable Bien</strong>
				</p>
				<a class="tcp-btn mt-12 mx-auto open-popup" href="#planes">
					Agendar llamada »
					<br>
					<span class="--temblor font-medium text-[14px] text-white/80 block mt-1">*Solo 2 cupos por semana</span>
				</a>
			</div>
		</div>
		<p class="text-center text-[14px] text-[#111]/60 px-4">© Tomás Costa Páginas Web 2025. Todos los derechos reservados.</p>
	</div>
</Layout>
