<section class="py-[80px] px-4">
	<h2 class="text-center leading-[110%] text-[32px] font-bold text-[#424242]">
		¿Queres ser un referente?
		<span class="textPurple block mt-4">Tu landing tiene que transmitirlo</span>
	</h2>
	<div class="trigger --2"></div>
	<div class="grid gap-4 mt-8">
		<div class="shadow-[0px_0px_30px_0px_#00000010] rounded-lg py-12 px-10">
			<div class="bg-gradient-to-br flex items-center justify-center from-[#EBE8FF] to-[#F5F5F5] size-[70px] rounded-[20px] mx-auto">
				<svg width="32" height="35" viewBox="0 0 32 35" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M30.3863 15.8611V11.2706C30.3863 8.6773 30.3863 7.38068 29.7473 6.53471C29.1084 5.68876 27.6636 5.27804 24.774 4.45665C22.7998 3.89546 21.0595 3.21937 19.6691 2.60214C17.7733 1.76061 16.8255 1.33984 16.1551 1.33984C15.4846 1.33984 14.5368 1.76061 12.6411 2.60214C11.2507 3.21937 9.51041 3.89546 7.53621 4.45665C4.64663 5.27804 3.20183 5.68876 2.56283 6.53471C1.92383 7.38068 1.92383 8.6773 1.92383 11.2706V15.8611C1.92383 24.7558 9.92933 30.0925 13.9318 32.2049C14.8918 32.7115 15.3717 32.9648 16.1551 32.9648C16.9384 32.9648 17.4183 32.7115 18.3783 32.2049C22.3808 30.0925 30.3863 24.7558 30.3863 15.8611Z" stroke="#4F39F6" stroke-width="2.37188" stroke-linecap="round"/>
					<path d="M10.0341 15.7816L16.3575 7.96932C16.8521 7.35834 17.779 7.73862 17.779 8.5525V14.5993C17.779 15.0868 18.1425 15.4822 18.591 15.4822H21.6665C22.3653 15.4822 22.7377 16.3778 22.2761 16.948L15.9527 24.7603C15.4581 25.3713 14.5311 24.991 14.5311 24.1771V18.1304C14.5311 17.6428 14.1676 17.2476 13.7192 17.2476H10.6436C9.94493 17.2476 9.5725 16.3518 10.0341 15.7816Z" stroke="#4F39F6" stroke-width="2.37188" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
			</div>
			<h3 class="mt-8 leading-[100%] text-[#424242] text-[26px] font-bold text-center">
				Sin <span class="textPurple">confianza</span> no 
				<br>
				hay <span class="textPurple">ganancia</span>
			</h3>
			<p class="mt-4 text-center text-[18px] text-[#424242]/80 leading-[115%]">
				Diseñamos tu web para que quienes entren sepan que estan en un lugar seguro.
			</p>
		</div>
		<div class="shadow-[0px_0px_30px_0px_#00000010] rounded-lg py-12 px-10">
			<div class="bg-gradient-to-br flex items-center justify-center from-[#EBE8FF] to-[#F5F5F5] size-[70px] rounded-[20px] mx-auto">
				<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M22.6673 15.9987C22.6673 19.6806 19.6825 22.6654 16.0007 22.6654C12.3188 22.6654 9.33398 19.6806 9.33398 15.9987C9.33398 12.3168 12.3188 9.33203 16.0007 9.33203" stroke="#4F39F6" stroke-width="2.4" stroke-linecap="round"/>
					<path d="M18.666 2.93469C17.8044 2.75978 16.9125 2.66797 15.9993 2.66797C8.63555 2.66797 2.66602 8.6375 2.66602 16.0013C2.66602 23.365 8.63555 29.3346 15.9993 29.3346C23.3631 29.3346 29.3327 23.365 29.3327 16.0013C29.3327 15.0881 29.2408 14.1962 29.066 13.3346" stroke="#4F39F6" stroke-width="2.4" stroke-linecap="round"/>
					<path d="M16.041 15.946L22.1115 9.87542M26.3211 5.78878L25.5835 3.13926C25.4477 2.70276 24.9225 2.52882 24.5685 2.81811C22.6537 4.38286 20.5678 6.4905 22.2713 9.81487C25.7034 11.4153 27.6627 9.25707 29.165 7.44302C29.4639 7.08208 29.2837 6.53951 28.8335 6.40935L26.3211 5.78878Z" stroke="#4F39F6" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
			</div>
			<h3 class="mt-8 leading-[100%] text-[#424242] text-[26px] font-bold text-center">
				El <span class="textPurple">foco</span> en tu 
				<br>
				proyecto
			</h3>
			<p class="mt-4 text-center text-[18px] text-[#424242]/80 leading-[115%]">
				Acepto solo 2 proyectos por semana para poder dedicarle a cada uno el tiempo que necesita para quedar perfecto
			</p>
		</div>
		<div class="shadow-[0px_0px_30px_0px_#00000010] rounded-lg py-12 px-10">
			<div class="bg-gradient-to-br flex items-center justify-center from-[#EBE8FF] to-[#F5F5F5] size-[70px] rounded-[20px] mx-auto">
				<svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M5.45435 28.4086V23.8236C5.45435 22.1814 5.02429 21.3277 4.17896 19.9004C3.16562 18.1896 2.58398 16.193 2.58398 14.0606C2.58398 7.72113 7.72442 2.58203 14.0655 2.58203C20.4065 2.58203 25.547 7.72113 25.547 14.0606C25.547 14.8093 25.547 15.1838 25.5782 15.3937C25.6529 15.8955 25.8871 16.3272 26.1174 16.774L28.4173 21.2346L26.6098 22.1381C26.0859 22.3999 25.824 22.5309 25.6415 22.7726C25.459 23.0141 25.4077 23.2869 25.3049 23.8324L25.2948 23.8856C25.0595 25.1353 24.7997 26.5148 24.0681 27.3851C23.8098 27.6924 23.49 27.9421 23.1291 28.1182C22.5334 28.4086 21.801 28.4086 20.3363 28.4086C19.6585 28.4086 18.9789 28.4243 18.3012 28.4079C16.6951 28.3687 15.5007 27.0183 15.5007 25.4502" stroke="#4F39F6" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M18.5851 13.6019C18.0345 13.6019 17.5323 13.3935 17.1519 13.0507M18.5851 13.6019C18.5851 15.082 17.7276 16.4879 16.0769 16.4879C14.4261 16.4879 13.5687 17.8936 13.5687 19.3737M18.5851 13.6019C21.3613 13.6019 21.3613 9.27308 18.5851 9.27308C18.3329 9.27308 18.0908 9.31682 17.8659 9.39717C18.0016 6.17053 13.3499 5.29453 12.2963 8.31726M12.2963 8.31726C13.0637 8.83512 13.5687 9.7162 13.5687 10.716M12.2963 8.31726C9.9044 6.70289 6.7158 9.59978 8.23275 12.1827C5.6869 12.5644 5.95909 16.4879 8.55213 16.4879C9.27926 16.4879 9.92208 16.1244 10.3112 15.5682" stroke="#4F39F6" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
			</div>
			<h3 class="mt-8 leading-[100%] text-[#424242] text-[26px] font-bold text-center">
				Ideas que 
				<br>
				<span class="textPurple">venden</span>
			</h3>
			<p class="mt-4 text-center text-[18px] text-[#424242]/80 leading-[115%]">
				Creamos tu web pensando en lo que tu cliente necesita leer para confiar, avanzar y comprar.
			</p>
		</div>
		<div class="shadow-[0px_0px_30px_0px_#00000010] rounded-lg py-12 px-10">
			<div class="bg-gradient-to-br flex items-center justify-center from-[#EBE8FF] to-[#F5F5F5] size-[70px] rounded-[20px] mx-auto">
				<svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M12.5814 18.4823H11.9121C9.74831 18.4823 8.66642 18.4823 8.20526 17.7689C7.74411 17.0556 8.1835 16.0618 9.0623 14.0741L11.7043 8.09846C12.5033 6.29125 12.9028 5.38764 13.6778 4.88132C14.4528 4.375 15.4365 4.375 17.4039 4.375H20.4509C22.8409 4.375 24.0358 4.375 24.4864 5.15572C24.9372 5.93644 24.3444 6.97941 23.1586 9.06534L21.5954 11.8152C21.006 12.8522 20.7113 13.3707 20.7153 13.7951C20.7207 14.3467 21.014 14.8549 21.4878 15.1331C21.8524 15.3474 22.4464 15.3474 23.6345 15.3474C25.1364 15.3474 25.8875 15.3474 26.2786 15.6074C26.7867 15.9451 27.0527 16.5495 26.9595 17.1547C26.8877 17.6205 26.3826 18.179 25.3722 19.2962L17.3002 28.2221C15.7147 29.9753 14.922 30.8519 14.3896 30.5745C13.8573 30.297 14.1129 29.1407 14.6242 26.8278L15.6258 22.2973C16.015 20.5362 16.2097 19.6557 15.7415 19.069C15.2734 18.4823 14.3761 18.4823 12.5814 18.4823Z" stroke="#4F39F6" stroke-width="2.48387" stroke-linejoin="round"/>
				</svg>
			</div>
			<h3 class="mt-8 leading-[100%] text-[#424242] text-[26px] font-bold text-center">
				Empecemos por 
				<br/>	
				<span class="textPurple">dejarlos pasar</span>
			</h3>
			<p class="mt-4 text-center text-[18px] text-[#424242]/80 leading-[115%]">
				Tu sitio carga rápido y se ve increíble en cualquier dispositivo. Nada de esperar, solo navegar y convertir.
			</p>
		</div>
	</div>
	<a class="tcp-btn to-animate mt-12 mx-auto" data-trigger="1" href="#planes">
		<span>¡Ver Paquetes!</span>
		<span class="--temblor font-medium text-[14px] block mt-1"
			>*Solo 2 cupos por semana</span
		>
	</a>
</section>