<section class="py-[80px]">
	<div class="tcp-container">
		<h2 class="text-[24px] mb-12 font-bold text-end leading-[110%]">
			Por qué haces Páginas Web
			<br>
			<span class="italic textPurple">100% personalizadas</span>?
		</h2>
		<div class="mb-8">
			<p class="text-[24px] mb-4 font-bold leading-[110%]">
				Porque gracias a eso mis 
				<br>
				Páginas <span class="italic text-red-600 --playfair">NO</span> se ven asi:
			</p>
			<img class="rounded-lg w-[95%] aspect-video bg-gray-300" src="/images/mala-landing.webp" alt="Mala landing">
		</div>
		<div class="mb-8">
			<p class="text-[24px] mb-4 font-bold leading-[110%]">
				Y <span class="italic text-green-600 --playfair">En Su Lugar</span> 
				<br>
				se ven asi:
			</p>
			<img class="rounded-lg w-[95%] aspect-video bg-gray-300" src="/images/mala-landing.webp" alt="Mala landing">
		</div>
	</div>
</section>