<section class="py-[80px]">
	<div class="tcp-container">
		<h2 class="--fade-up text-[24px] mb-12 font-bold text-end leading-[110%]">
			Por qué haces Páginas Web
			<br>
			<span class="italic textPurple">100% personalizadas</span>?
			<br><br>
			Si podes usar Elementor u 
			<br>
			otro constructor de sitios...
		</h2>
		<div class="mb-8">
			<p class="--fade-up text-[24px] mb-4 font-bold leading-[110%]">
				Porque gracias a eso mis 
				<br>
				Páginas <span class="italic text-red-600 --playfair">NO</span> se ven asi:
			</p>
			<img class="--fade-up rounded-lg w-full aspect-video bg-gray-300" src="/images/mala-landing.webp" alt="Mala landing">
		</div>
		<div>
			<p class="--fade-up text-[24px] mb-4 font-bold leading-[110%]">
				Y <span class="italic text-green-600 --playfair">En Su Lugar</span> 
				<br>
				se ven asi:
			</p>
			<img class="--fade-up rounded-lg w-full aspect-video bg-gray-300" src="/images/buena-landing.webp" alt="Buena landing">
		</div>
		<a class="tcp-btn mt-12" href="#planes">
			Ver Cotizaciones »
			<br>
			<span class="--temblor font-medium text-[14px] text-white/80 block mt-1">*Solo 2 cupos por semana</span>
		</a>
	</div>
</section>