<section class="py-[80px]">
	<div class="tcp-container">
		<div class="trigger --2"></div>
		<p class="--fade-up text-[24px] mb-6 font-bold text-end leading-[110%] text-[#111]">Muchos me preguntan:</p>
		<h2
			class="--fade-up text-[24px] mb-6 font-bold text-end leading-[110%] text-[#111]"
		>
			"Por qué haces Páginas Web
			<br />
			<span class="italic text-[#4F39F6]">100% personalizadas</span>?
		</h2>
		<h3 class="--fade-up text-[24px] mb-12 font-bold text-end leading-[110%] text-[#111]">
			Si podes usar Elementor u
			<br />
			otro constructor de sitios..."
		</h3>
		<div class="mb-8">
			<p class="--fade-up text-[24px] mb-4 font-bold leading-[110%]">
				Y es porque gracias a eso mis
				<br />
				Páginas <span class="italic text-red-600">NO</span> se ven asi:
			</p>
			<img
				class="--fade-up rounded-lg w-full aspect-video border border-[#111]/20 object-cover"
				src="/images/landing-mala.webp"
				alt="Mala landing"
			/>
		</div>
		<div>
			<p class="--fade-up text-[24px] mb-4 font-bold leading-[110%]">
				Y <span class="italic text-green-600">En Su Lugar</span>
				<br />
				se ven asi:
			</p>
			<img
				class="--fade-up rounded-lg w-full aspect-video border border-[#111]/20 object-cover"
				src="/images/landing-buena-tomas-costa.webp"
				alt="Buena landing"
			/>
		</div>
		<a class="tcp-btn to-animate mt-12" data-trigger="2" href="#planes">
			Ver Cotizaciones »
			<br />
			<span class="--temblor font-medium text-[14px] block mt-1"
				>*Solo 2 cupos por semana</span
			>
		</a>
	</div>
</section>
