<section class="pb-[100px] pt-[80px] relative overflow-clip">
	<div class="size-[140px] blur-[80px] -top-[35px] -left-[35px] absolute rounded-full bg-[#4F39F6]"></div>
	<div class="size-[140px] blur-[80px] top-[480px] -right-[35px] absolute rounded-full bg-[#4F39F6]"></div>
	<img class="absolute -top-[40px]" src="/images/patron-marca.webp" alt="Patron Tomas Costa LP">
	<div class="tcp-container relative">
		<div class="relative w-fit mx-auto">
			<img src="/images/hello-emoji.webp" class="--hello absolute bottom-0 left-0 bg-white border border-black/20 rounded-full size-[40px] p-2 flex items-center justify-center text-[20px]" />
			<img 
				class="size-[130px] border-3 border-black/20 rounded-full mx-auto bg-gray-300"
				src="/images/tomas-costa-paginas-web.webp" 
				alt="Tomas Costa ~ Paginas Web Personalizadas"
			>
		</div>
		<div class="mt-12 relative">
			<!-- Particulas -->
			<div class="size-[10px] rounded-full bgPurple absolute -top-[60px] right-[40px] --move-down"></div>
			<div class="triangle --purple -rotate-15 absolute left-[20px] top-[100px] --move-up"></div>
			<div class="triangle --yellow rotate-15 absolute right-[40px] bottom-[120px] --move-up"></div>
			<!-- Fin Particulas -->
			<h1 class="text-center text-[36px] font-extrabold text-[#424242] leading-[110%] mb-4">
				Tu Página Web 
				<span class="relative">
					<!-- <svg class="absolute right-[3px]" width="66" height="10" viewBox="0 0 66 10" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1 1.0009C1 1.0009 15 0.998917 55.5 1.00084C60.2268 1.00106 65 8.50083 65 8.50083C65 8.50083 63.9383 6.0385 64 4.00084C64.0561 2.14927 65 1.00084 65 1.00084" stroke="#C3C3C3" stroke-width="2" stroke-linecap="round"/>
					</svg> -->
					dice
				</span> 
				mucho de vos<span class="text-[#00AE06]">...</span>
			</h1>
			<p class="text-center text-[36px] font-extrabold textPurple leading-[110%]">
				Hagamos que 
				<br>
				<span class="--playfair italic font-bold relative">
					<svg class="absolute left-[2px] -bottom-[6px]" width="166" height="10" viewBox="0 0 166 10" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M164.5 1.00188C164.5 1.00188 51.5 0.999958 11 1.00188C6.2732 1.0021 1.5 8.50187 1.5 8.50187C1.5 8.50187 2.56175 6.03954 2.5 4.00188C2.44389 2.15031 1.5 1.00188 1.5 1.00188" stroke="#E8E8E8" stroke-width="2" stroke-linecap="round"/>
					</svg>
					Hable Bien
				</span>
			</p>
			<a class="tcp-btn" href="#planes">
				Ver Cotizaciones »
				<br>
				<span class="--temblor font-medium text-[14px] text-white/80 block mt-1">*Solo 2 cupos por semana</span>
			</a>
		</div>
		<div class="mt-14 appearFromBottom relative">
			<img src="/images/hero-image-pc.webp" alt="Tomas Costa Landing Page Bio Founders">
			<img class="w-[80px] absolute -bottom-0 right-0" src="/images/hero-image-phone.webp" alt="Tomas Costa Landing Page Bio Founders Mobile">
			<img class="w-[80px] -left-[10px] absolute top-[140px] --move-up" src="/images/hero-image-analytics.webp" alt="">
			<div class="--move-rotate w-[calc(100%-40px)] h-[200px] bgPurple rounded-lg absolute top-0 left-[10px] -rotate-5 -z-10"></div>
			<div class="--move-down absolute flex text-[18px] items-center justify-center font-bold text-[#1E1E1E] size-[70px] rounded-full bg-white border-4 border-[#00AE06] -top-[50px] left-[10px]">
				100
			</div>
		</div>
	</div>
</section>