<section class="pb-[100px] pt-[80px] relative overflow-clip">
	<!-- <div class="size-[140px] blur-[80px] -top-[35px] -left-[35px] absolute rounded-full bg-[#4F39F6]"></div> -->
	<!-- <div class="size-[140px] blur-[80px] top-[480px] -right-[35px] absolute rounded-full bg-[#4F39F6]"></div> -->
	<!-- <img class="absolute -top-[40px]" src="/images/patron-marca.webp" alt="Patron Tomas Costa LP"> -->
	<div class="tcp-container relative">
		<div class="md:flex md:gap-8">
			<div>
				<div class="relative w-fit mx-auto md:mx-0">
					<img src="/images/hello-emoji.webp" class="--hello absolute bottom-0 left-0 bg-white border border-black/20 rounded-full size-[40px] p-2 flex items-center justify-center text-[20px]" />
					<img 
						class="size-[100px] border-3 border-black/20 rounded-full mx-auto bg-gray-300"
						src="/images/tomas-costa-paginas-web.webp" 
						alt="Tomas Costa ~ Paginas Web Personalizadas"
					>
				</div>
				<div class="mt-12 relative">
					<!-- Particulas -->
					<div class="size-[10px] rounded-full bgPurple absolute -top-[60px] right-[40px] --move-down"></div>
					<div class="triangle --purple -rotate-15 absolute left-[20px] md:-left-[100px] top-[100px] --move-up"></div>
					<div class="triangle --yellow rotate-15 absolute right-[40px] bottom-[120px] --move-up"></div>
					<!-- Fin Particulas -->
					<h1 class="text-center md:text-start text-[32px] font-extrabold text-[#424242] leading-[110%] mb-4">
						Hacemos las mejores páginas web para negocios online
					</h1>
					<p class="text-center md:text-start text-[18px] font-normal max-w-[300px] mx-auto text-[#111]/80 leading-[110%]">
						Tu sitio web dice mucho de vos... Hagamos que <strong>Hable Bien</strong>
					</p>
					<a class="tcp-btn mt-12" href="#planes">
						Ver Paquetes »
						<br>
						<span class="--temblor font-medium text-[14px] text-white/80 block mt-1">*Solo 2 cupos por semana</span>
					</a>
				</div>
			</div>
			<div class="mt-14 appearFromBottom relative">
				<img src="/images/hero-image-pc.webp" alt="Tomas Costa Landing Page Bio Founders">
				<img class="w-[80px] absolute -bottom-0 right-0" src="/images/hero-image-phone.webp" alt="Tomas Costa Landing Page Bio Founders Mobile">
				<img class="w-[80px] -left-[10px] absolute top-[140px] --move-up" src="/images/hero-image-analytics.webp" alt="">
				<div class="--move-rotate w-[calc(100%-40px)] h-[200px] md:h-[330px] bgPurple rounded-lg absolute top-0 left-[10px] -rotate-5 -z-10"></div>
				<div class="--move-down absolute flex text-[18px] items-center justify-center font-bold text-[#00CC66] size-[70px] rounded-full bg-[#ECFFF6] border-4 border-[#00CC66] -top-[50px] left-[10px]">
					100
				</div>
			</div>
		</div>
	</div>
</section>