---
import Popup from "./Popup.astro";
const path = Astro.url.pathname;

const PLANES = [
	{
		icono: "/images/tomas-costa-landing-optin.svg",
		nombre: "Opt-In",
		descripcion:
			"Un embudo pensado para formar una base de datos con personas interesadas en tu producto o servicio.",
		precioDolar: "550",
		precioPesos: 550 * 1200,
		mensajeWpp: "Hola, me interesa la Landing Opt-In",
		incluye: [
			"Un año de dominio pagado y su configuración",
			"Un año de Hosting Gratis",
			"Certificado SSL",
			"Diseño enfocado en vender y transmitir autoridad",
			"Desarrollo profesional y optimizado",
			"Optimización SEO Básica",
			"Versión A/B para que te quedes con la mejor",
			"Integración con Pixel y API de Facebook para mejorar el rendimiento de tus campañas",
			"Integración con Google Analytics y HotJar",
			"1 mes Gratis de soporte",
			"Hasta 10 secciones incluidas",
			"Formulario automatizado y almacenamiento de datos en Google Sheets",
		],
	},
	{
		icono: "/images/tomas-costa-landing-vsl.svg",
		nombre: "VSL",
		descripcion:
			"Ideal para vender servicios con un video que convence y convierte.",
		precioDolar: "450",
		precioPesos: 450 * 1200,
		mensajeWpp: "Hola, me interesa la Landing VSL",
		incluye: [
			"Un año de dominio pagado y su configuración",
			"Un año de Hosting Gratis",
			"Certificado SSL",
			"Diseño enfocado en vender y transmitir autoridad",
			"Desarrollo profesional y optimizado",
			"Optimización SEO Básica",
			"Versión A/B para que te quedes con la mejor",
			"Integración con Pixel de Facebook para mejorar el rendimiento de tus campañas",
			"Integración con Google Analytics y HotJar",
			"1 mes Gratis de soporte",
			"Hasta 6 secciones incluidas",
		],
	},
	{
		icono: "/images/tomas-costa-landing-informativa.svg",
		nombre: "Informativa",
		descripcion:
			"Explicá quién sos, qué hacés y por qué elegirte transmitiendo autoridad.",
		precioDolar: "500",
		precioPesos: 500 * 1200,
		mensajeWpp: "Hola, me interesa la Landing Informativa",
		incluye: [
			"Un año de dominio pagado y su configuración",
			"Un año de Hosting Gratis",
			"Certificado SSL",
			"Diseño enfocado en vender y transmitir autoridad",
			"Desarrollo profesional y optimizado",
			"Optimización SEO Básica",
			"Versión A/B para que te quedes con la mejor",
			"Integración con Pixel de Facebook para mejorar el rendimiento de tus campañas",
			"Integración con Google Analytics y HotJar",
			"1 mes Gratis de soporte",
			"Hasta 12 secciones incluidas",
		],
	},
	{
		icono: "/images/tomas-costa-landing-venta-directa.svg",
		nombre: "Venta Directa",
		descripcion:
			"Ideal para productos Low-Ticket y Mid-Ticket como cursos o materiales pago.",
		precioDolar: "650",
		precioPesos: 650 * 1200,
		mensajeWpp: "Hola, me interesa la Landing Venta Directa",
		incluye: [
			"Un año de dominio pagado y su configuración",
			"Un año de Hosting Gratis",
			"Certificado SSL",
			"Diseño enfocado en vender y transmitir autoridad",
			"Desarrollo profesional y optimizado",
			"Optimización SEO Básica",
			"Versión A/B para que te quedes con la mejor",
			"Integración con pasarelas de pago como Stripe, Mercado Pago, etc",
			"1 mes Gratis de soporte",
			"Hasta 12 secciones incluidas",
		],
	},
];
---

<section class="py-[80px] overflow-clip" id="planes">
	<div class="tcp-container">
		<h2
			class="text-[32px] text-[#424242] font-extrabold text-center md:text-start leading-[110%]"
		>
			Encontremos
			<br />
			<span class="textPurple"> Tu Landing Ideal </span>
		</h2>
		<div class="mt-8 grid gap-4">
			{
				PLANES.map((plan) => {
					return (
						<div class="testimonio-card swiper-slide bg-white rounded-xl shadow-[0px_0px_30px_0px_#00000010] px-8 py-12 md:px-8">
							<div class="md:flex md:justify-between md:item gap-8">
								<div>
									<img
										class="w-[65px] h-[55px] object-contain mx-auto md:mx-0"
										src={plan.icono}
										alt="Landing Page VSL Tomas Costa"
									/>
									<h2 class="text-[32px] text-[#424242] font-extrabold text-center md:text-start my-4 leading-[110%]">
										Landing {plan.nombre}
									</h2>
									<p class="text-center md:text-start max-w-[500px] md:px-0 text-[#1E1E1E]/80 px-4 leading-[120%]">
										{plan.descripcion}
									</p>
								</div>
							</div>
							<button class="tcp-btn --no-span --no-fixed mt-8 open-popup --plans-btn items-center">
								<div class="flex justify-between items-center w-full ps-4">
									Quiero saber más 
									<span class="bg-[#ff8c3b] text-[#FFF] flex justify-center items-center size-[35px] p-2 rounded-full">
										<svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"/></svg>
									</span>
								</div>
							</button>
						</div>
					);
				})
			}
		</div>
	</div>
</section>
