<section class="py-[80px] overflow-clip">
	<div class="tcp-container">
		<h2 class="text-[32px] font-extrabold leading-[110%] textPurple">
			Encontremos
			<br>
			Tu Landing <span class="italic --playfair">Ideal</span>
		</h2>
		<div class="swiper swiperPlans mt-8" style="overflow: visible !important;">
			<div class="swiper-wrapper">
				<div
					class="testimonio-card swiper-slide bg-white rounded-xl border border-[#111]/20 p-8"
				>
					<img class="w-[80px] h-[55px] object-contain bg-gray-300 mx-auto" src="/images/vsl-icon.webp" alt="Landing Page VSL Tomas Costa">
					<h2 class="text-[32px] text-[#1E1E1E] font-extrabold text-center mt-4">Landing VSL</h2>
					<p class="text-center text-[#1E1E1E]/80">Ideal para vender servicios con un video que convence y convierte.</p>
					<div class="bg-white border mt-8 border-[#111]/20 p-4 rounded-lg">
						<div class="pb-4 border-b border-dashed border-[#111]/20">
							<p class="flex items-center justify-center gap-2 text-[14px] font-semibold text-[#1E1E1E]/80">
								Transferencia
								<img src="/images/mercado-pago.webp" alt="Mercado Pago">
							</p>
							<p class="text-[34px] font-extrabold mt-2 text-center text-[#1e1e1e]/80">$XXX</p>
						</div>
						<div class="pt-6">
							<p class="flex items-center justify-center gap-2 text-[14px] font-semibold text-[#1E1E1E]/80">
								Transferencia
								<img src="/images/binance.webp" alt="Binance">
							</p>
							<p class="text-[34px] font-extrabold mt-2 text-center text-[#1e1e1e]/80">$XXX</p>
						</div>
					</div>
					<a class="tcp-btn --no-span mt-8" href="#planes">
						Consultar Disponibilidad »
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
