<section
	class="fixed bg-[#111]/40 top-0 left-0 w-full h-full z-50 hidden px-4"
	id="popup"
>
	<div class="h-full flex items-center justify-center" id="popupContent">
		<div
			class="bg-[#111] rounded-[20px] px-[32px] py-[64px] md:p-[72px] overflow-clip relative max-w-full"
		>
			<div class="md:w-[380px] max-w-full mx-auto relative">
				<form action="" id="webhookForm">
					<label
						for="email"
						class="text-[#fff] font-medium mb-4 block"
					>
						Tu correo electronico
						<input
							type="email"
							name="email"
							placeholder="hormozi@gmail.com"
							class="w-full p-[16px] rounded-[6px] bg-[#fff] mt-2 text-[#111]/60 placeholder:text-[14px] font-normal"
						/>
					</label>
					<label for="phone" class="text-[#fff] font-medium block">
						Tu número de WhatsApp
						<div class="flex gap-2 mt-2">
							<select
								name="countryCode"
								id="countryCode"
								class="p-[16px] rounded-[6px] bg-[#fff] text-[#111]/80 font-normal"
							>
								<option value="+54">🇦🇷 AR</option>
								<option value="+56">🇨🇱 CL</option>
								<option value="+57">🇨🇴 CO</option>
								<option value="+52">🇲🇽 MX</option>
							</select>
							<input
								type="tel"
								name="phone"
								id="phoneInput"
								placeholder="2616841853"
								class="w-full p-[16px] rounded-[6px] bg-[#fff] text-[#111]/60 placeholder:text-[14px] font-normal"
							/>
						</div>
					</label>
					<label
						for="presupuesto"
						class="text-[#fff] font-medium mt-6 block"
					>
						¿Cuánto estarías dispuesto a invertir en que tu Página
						Web Transmita Autoridad y Confianza a quienes entran?
						<div
							class="mt-2 flex flex-col gap-3 text-[#fff]/90 text-[14px]"
						>
							<label class="flex items-center gap-2">
								<input
									type="radio"
									name="presupuesto"
									value="<350"
									class="accent-[#3B4FFF]"
									required
								/>
								Menos de usd350
							</label>
							<label class="flex items-center gap-2">
								<input
									type="radio"
									name="presupuesto"
									value="400-700"
									class="accent-[#3B4FFF]"
								/>
								Entre usd400 y usd700
							</label>
							<label class="flex items-center gap-2">
								<input
									type="radio"
									name="presupuesto"
									value=">700"
									class="accent-[#3B4FFF]"
								/>
								Más de usd700
							</label>
						</div>
					</label>
					<button type="submit" class="tcp-btn mt-6 cursor-pointer">
						Agendar
					</button>
				</form>
			</div>
		</div>
	</div>
</section>

<script>
	// ABRIR POPUP
	document.querySelectorAll(".open-popup").forEach((el) => {
		el.addEventListener("click", () => {
			document.getElementById("popup")?.classList.toggle("hidden");
		});
	});

	document.getElementById("popup")?.addEventListener("click", (e) => {
		console.log(e.target, " target:", document.getElementById("popup"));
		if (e.target === document.getElementById("popupContent")) {
			document.getElementById("popup")?.classList.add("hidden");
		}
	});

	// FORMULARIO
	document
		.querySelectorAll<HTMLFormElement>("#webhookForm")
		.forEach((form) => {
			form.addEventListener("submit", async function (event) {
				event.preventDefault();

				const formData = new FormData(this);
				const data = Object.fromEntries(formData.entries());

				console.log(data);
				//sendConversion(data);

				if (
					data.email &&
					data.phone &&
					data.countryCode &&
					data.presupuesto
				) {
					if (data.presupuesto !== '<350') {
						try {
							const response = await fetch(
								"https://hook.us2.make.com/obfsv5zrls1rg7283a49iyyfojx0ob6p",
								{
									method: "POST",
									headers: { "Content-Type": "application/json" },
									body: JSON.stringify(data),
								},
							);

							if (response.ok) {
								window.location.href = "https://calendly.com/tomascostapp/30min";
								console.log("Response ", response);
							} else {
								alert("Error al enviar el formulario.");
							}
						} catch (error) {
							alert("Hubo un problema al enviar los datos.");
						}
					} else {
						alert('Lo sentimos pero por ahora no tenemos planes de menos de usd350')
					}
				}
			});
		});

	const sendConversion = async (data: any) => {
		console.log("DATA: ", data.email);

		const hashEmail = await hashSHA256(data.email);
		const hashPhone = await hashSHA256(data.phone);

		const response = await fetch(
			"https://graph.facebook.com/v18.0/1606406710306620/events?access_token=EAAJw118ruGYBOZCFxk5tAlN6Nghe7uOtxeAiOCs31ZCDEclB9hhDqfavgXBbqDcN9VOOB8WcdPuGAYCJzH9gih9ZBeSZBVRSeNAZCZCqvNjJSH70hrZAdnyoLdHtDHwtDYY2rZCKgrtmUtDGsRNRchpXJFCKZCMnocFM5HtmINWIyjGRRmZCXq3wAdqc2IoWclAqf5ggZDZD",
			{
				method: "POST",
				headers: {
					"Content-Type": "application/json",
				},
				body: JSON.stringify({
					data: [
						{
							event_name: "Lead",
							event_time: Math.floor(Date.now() / 1000), // tiempo actual en segundos
							action_source: "website",
							user_data: {
								em: [hashEmail],
								ph: [hashPhone],
							},
							original_event_data: {
								event_name: "Lead",
								event_time: Math.floor(Date.now() / 1000),
							},
						},
					],
				}),
			},
		);

		const result = await response.json();
		console.log(result);
	};

	async function hashSHA256(value: String) {
		const encoder = new TextEncoder();
		const data = encoder.encode(value.trim().toLowerCase()); // sin espacios, en minúsculas
		const hashBuffer = await crypto.subtle.digest("SHA-256", data);
		const hashArray = Array.from(new Uint8Array(hashBuffer));
		return hashArray.map((b) => b.toString(16).padStart(2, "0")).join("");
	}
</script>

<!-- Meta Pixel Code -->
<script is:inline>
	!(function (f, b, e, v, n, t, s) {
		if (f.fbq) return;
		n = f.fbq = function () {
			n.callMethod
				? n.callMethod.apply(n, arguments)
				: n.queue.push(arguments);
		};
		if (!f._fbq) f._fbq = n;
		n.push = n;
		n.loaded = !0;
		n.version = "2.0";
		n.queue = [];
		t = b.createElement(e);
		t.async = !0;
		t.src = v;
		s = b.getElementsByTagName(e)[0];
		s.parentNode.insertBefore(t, s);
	})(
		window,
		document,
		"script",
		"https://connect.facebook.net/en_US/fbevents.js",
	);
	fbq("init", "1606406710306620");
	fbq("track", "PageView");
</script>
<noscript
	><img
		height="1"
		width="1"
		style="display:none"
		src="https://www.facebook.com/tr?id=942814494324978&ev=PageView&noscript=1"
	/>
</noscript>
<!-- End Meta Pixel Code -->
