<section
	class="fixed bg-[#111]/40 top-0 left-0 w-full h-full z-50 hidden px-4"
	id="popup"
>
	<div class="h-full flex items-center justify-center" id="popupContent">
		<div
			class="bg-[#111] rounded-[20px] px-[32px] py-[64px] md:p-[72px] overflow-clip relative max-w-full"
		>
			<div class="md:w-[380px] max-w-full mx-auto relative">
				<form action="" id="webhookForm">
					<label
						for="email"
						class="text-[#fff] font-medium mb-4 block"
					>
						Tu correo electronico
						<input
							required
							type="email"
							name="email"
							placeholder="hormozi@gmail.com"
							class="w-full p-[16px] rounded-[6px] bg-[#fff] mt-2 text-[#111]/60 placeholder:text-[14px] font-normal"
						/>
					</label>
					<label for="phone" class="text-[#fff] font-medium block">
						Tu número de WhatsApp
						<div class="flex gap-2 mt-2">
							<select
								name="countryCode"
								id="countryCode"
								class="p-[16px] rounded-[6px] bg-[#fff] text-[#111]/80 font-normal"
							>
								<option value="+54">🇦🇷 AR</option>
								<option value="+56">🇨🇱 CL</option>
								<option value="+57">🇨🇴 CO</option>
								<option value="+52">🇲🇽 MX</option>
							</select>
							<input
								required
								type="tel"
								name="phone"
								id="phoneInput"
								placeholder="2616841853"
								class="w-full p-[16px] rounded-[6px] bg-[#fff] text-[#111]/60 placeholder:text-[14px] font-normal"
							/>
						</div>
					</label>
					<label
						for="presupuesto"
						class="text-[#fff] font-medium mt-6 block"
					>
						¿Cuánto estarías dispuesto a invertir en que tu Página
						Web Transmita Autoridad y Confianza a quienes entran?
						<div
							class="mt-2 flex flex-col gap-3 text-[#fff]/90 text-[14px]"
						>
							<label class="flex items-center gap-2">
								<input
									required
									type="radio"
									name="presupuesto"
									value="<350"
									class="accent-[#3B4FFF]"
									required
								/>
								Menos de usd350
							</label>
							<label class="flex items-center gap-2">
								<input
									required
									type="radio"
									name="presupuesto"
									value="400-700"
									class="accent-[#3B4FFF]"
								/>
								Entre usd400 y usd700
							</label>
							<label class="flex items-center gap-2">
								<input
									required
									type="radio"
									name="presupuesto"
									value=">700"
									class="accent-[#3B4FFF]"
								/>
								Más de usd700
							</label>
						</div>
					</label>
					<button type="submit" class="tcp-btn mt-6 cursor-pointer">
						<span id="agenda-text">¡Consultar!</span>
						<span id="agenda-loading" class="hidden">
							<svg class="mr-3 -ml-1 size-5 animate-spin text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle><path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path></svg>
						</span>
					</button>
				</form>
			</div>
		</div>
	</div>
</section>

<script>
	let choosedPlan: String = "";

	// ABRIR POPUP
	document.querySelectorAll(".open-popup").forEach((el) => {
		el.addEventListener("click", () => {
			document.getElementById("popup")?.classList.toggle("hidden");
			choosedPlan = el.getAttribute('data-plan') || '';
			console.log(choosedPlan)
		});
	});

	console.log(choosedPlan)

	document.getElementById("popup")?.addEventListener("click", (e) => {
		console.log(e.target, " target:", document.getElementById("popup"));
		if (e.target === document.getElementById("popupContent")) {
			document.getElementById("popup")?.classList.add("hidden");
		}
	});

	// FORMULARIO
	document
		.querySelectorAll<HTMLFormElement>("#webhookForm")
		.forEach((form) => {
			form.addEventListener("submit", async function (event) {
				event.preventDefault();

				const formData = new FormData(this);
				const data = Object.fromEntries(formData.entries());

				console.log(data);
				sendConversion(data);

				if (
					data.email &&
					data.phone &&
					data.countryCode &&
					data.presupuesto
				) {
					if (data.presupuesto !== "<350") {
						document.getElementById('agenda-text')?.classList.toggle('hidden');
						document.getElementById('agenda-loading')?.classList.toggle('hidden');

						data.timestamp = new Date().toISOString();
						data.landing = window.location.pathname.includes("/b") ? "B" : "A";
						data.tipo = choosedPlan.toString();

						console.log("DATA: ", data)

						try {
							const response = await fetch(
								"https://hook.us2.make.com/obfsv5zrls1rg7283a49iyyfojx0ob6p",
								{
									method: "POST",
									headers: {
										"Content-Type": "application/json",
									},
									body: JSON.stringify(data),
								},
							);

							if (response.ok) {
								window.location.href = '/thankyou';
							} else {
								alert("Error al enviar el formulario.");
							}
						} catch (error) {
							alert("Hubo un problema al enviar los datos.");
						}
					} else {
						alert(
							"Lo sentimos pero por ahora no tenemos planes de menos de usd350",
						);
					}
				}
			});
		});

	function getCookie(name: string) {
		const value = `; ${document.cookie}`;
		const parts = value.split(`; ${name}=`);
		if (parts.length === 2) return parts.pop()?.split(";").shift();
	}

	function generateEventId() {
		return "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".replace(
			/[xy]/g,
			function (c) {
				var r = (Math.random() * 16) | 0,
					v = c === "x" ? r : (r & 0x3) | 0x8;
				return v.toString(16);
			},
		);
	}
	
	declare global {
		interface Window {
			fbq: (...args: any[]) => void;
		}
	}

	const sendConversion = async (data: any) => {
		const eventId = generateEventId();
		window.fbq(
			"track",
			"Lead",
			{ email: data.email, phone: data.phone },
			{ eventId },
		);
		await fetch("https://www.tomascostalp.com/api/track/lead", {
			method: "POST",
			headers: { "content-type": "application/json" },
			body: JSON.stringify({
				email: data.email,
				phone: data.phone,
				fbp: getCookie("_fbp"),
				fbc: getCookie("_fbc"),
				eventId: eventId,
			}),
		});
	};
</script>
