<section class="py-[80px] bg-[#111] rounded-tr-[60px] rounded-tl-[60px] overflow-clip">
	<div class="tcp-container">
		<div class="--slide-r grid grid-cols-6 gap-4 w-[1600px] mb-4">
			<img class="rounded-lg w-full aspect-square outline outline-white/10" src="/images/tomas-costa-webs-1.webp" alt="Tomas Costa Pagina Web 1">
			<img class="rounded-lg w-full aspect-square outline outline-white/10" src="/images/tomas-costa-webs-2.webp" alt="Tomas Costa Pagina Web 1">
			<img class="rounded-lg w-full aspect-square outline outline-white/10" src="/images/tomas-costa-webs-3.webp" alt="Tomas Costa Pagina Web 1">
			<img class="bg-gray-300 rounded-lg w-full aspect-square outline outline-white/10" src="/images/tomas-costa-webs-1.webp" alt="Tomas Costa Pagina Web 1">
			<img class="bg-gray-300 rounded-lg w-full aspect-square outline outline-white/10" src="/images/tomas-costa-webs-1.webp" alt="Tomas Costa Pagina Web 1">
			<img class="bg-gray-300 rounded-lg w-full aspect-square outline outline-white/10" src="/images/tomas-costa-webs-1.webp" alt="Tomas Costa Pagina Web 1">
		</div>
		<div class="--slide-l grid grid-cols-6 gap-4 w-[1600px]">
			<img class="rounded-lg w-full aspect-square outline outline-white/10" src="/images/tomas-costa-webs-4.webp" alt="Tomas Costa Pagina Web 1">
			<img class="rounded-lg w-full aspect-square outline outline-white/10" src="/images/tomas-costa-webs-5.webp" alt="Tomas Costa Pagina Web 1">
			<img class="rounded-lg w-full aspect-square outline outline-white/10" src="/images/tomas-costa-webs-6.webp" alt="Tomas Costa Pagina Web 1">
			<img class="bg-gray-300 rounded-lg w-full aspect-square outline outline-white/10" src="/images/tomas-costa-webs-1.webp" alt="Tomas Costa Pagina Web 1">
			<img class="bg-gray-300 rounded-lg w-full aspect-square outline outline-white/10" src="/images/tomas-costa-webs-1.webp" alt="Tomas Costa Pagina Web 1">
			<img class="bg-gray-300 rounded-lg w-full aspect-square outline outline-white/10" src="/images/tomas-costa-webs-1.webp" alt="Tomas Costa Pagina Web 1">
		</div>
	</div>
</section>