---
import '/src/styles/global.css';
import '/src/styles/landingbuilderslab.css';
import '@fontsource-variable/playfair-display';
import '@fontsource-variable/inter';
import '@fontsource-variable/dm-sans';
import '@fontsource/just-another-hand';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Landing Builders Lab</title>

		<script type="text/javascript">
			(function(window, document, dataLayerName, id) {
			window[dataLayerName]=window[dataLayerName]||[],window[dataLayerName].push({start:(new Date).getTime(),event:"stg.start"});var scripts=document.getElementsByTagName('script')[0],tags=document.createElement('script');
			var qP=[];dataLayerName!=="dataLayer"&&qP.push("data_layer_name="+dataLayerName);var qPString=qP.length>0?("?"+qP.join("&")):"";
			tags.async=!0,tags.src="https://alaskads.containers.piwik.pro/"+id+".js"+qPString,scripts.parentNode.insertBefore(tags,scripts);
			!function(a,n,i){a[n]=a[n]||{};for(var c=0;c<i.length;c++)!function(i){a[n][i]=a[n][i]||{},a[n][i].api=a[n][i].api||function(){var a=[].slice.call(arguments,0);"string"==typeof a[0]&&window[dataLayerName].push({event:n+"."+i+":"+a[0],parameters:[].slice.call(arguments,1)})}}(i[c])}(window,"ppms",["tm","cm"]);
			})(window, document, 'dataLayer', 'e9f0bac8-951d-4b8e-b14e-a8dfb65f55f4');
		</script>

	</head>
	<body>
		<slot />
		
		<!-- Animaciones -->
        <script is:inline src="https://flackr.github.io/scroll-timeline/dist/scroll-timeline.js"></script>
	</body>
</html>

