---
import '/src/styles/global.css';
import '@fontsource-variable/playfair-display';
import '@fontsource-variable/inter';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Tomás Costa ~ Páginas Web de Aterrizaje</title>
	</head>
	<body>
		<slot />
		
		<!-- Animaciones -->
        <script is:inline src="https://flackr.github.io/scroll-timeline/dist/scroll-timeline.js"></script>
	</body>
</html>


<script>
	// Core de Swiper y estilos
	import Swiper from "swiper";
	import "swiper/css";
	// Módulo Navigation de Swiper y estilos
	import { Navigation } from "swiper/modules";
	import { Pagination } from 'swiper/modules';

	import "swiper/css/pagination";

	// Configurar Swiper
	new Swiper(".swiperTestimonios", {
		modules: [Navigation],
		slidesPerView: 2.8,
		spaceBetween: 8,
		initialSlide: 1,
		centeredSlides: true,
		breakpoints: {
			0: {
				slidesPerView: 1.1,
			},
			568: {
				slidesPerView: 2.8,
			},
		},
	});
	// Configurar Swiper
	new Swiper(".swiperPlans", {
		modules: [Pagination],
		slidesPerView: 2.8,
		spaceBetween: 4,
		initialSlide: 1,
		centeredSlides: true,
		breakpoints: {
			0: {
				slidesPerView: 1.05,
			},
			568: {
				slidesPerView: 2.8,
			},
		},
		pagination: {
			el: ".testimonios-pagination",
		},
	});
</script>